page-shop2 {
    ion-thumbnail img {
        border-radius: 50px;
        padding-left: unset;
    }
    .item-md {
        padding-left: unset;
    }
    ion-icon {
        float: left;
        margin-right: 5px;
    }
}
