<ion-header>

  <ion-navbar color="secondary">
  </ion-navbar>

</ion-header>


<ion-content>      
  <div id="tab1" *ngIf="userDetails">
    <ion-grid *ngFor="let u of userDetails">
      <ion-row align-items-start>
        <ion-col></ion-col>
        <ion-col col-auto>
          <div id="logo">
            <ion-icon name="person" color="bluee"></ion-icon>
          </div>
          <h2>{{u.name}}  {{u.surname}}</h2>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-card id="card" *ngIf="userDetails">
    
    <ion-slides pager>

      <ion-slide padding *ngFor="let u of userDetails">
        <ion-item>
          <ion-icon name="person"></ion-icon> 
          <h1>{{u.citizen_id}}</h1>
        </ion-item>  
        <ion-item>
          <ion-icon name="call"></ion-icon>
          <h1>{{u.tel}}</h1>
        </ion-item>   
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <h1>{{u.email}}</h1>
        </ion-item>   
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <h1>{{u.bod}}</h1>
        </ion-item> 
        <ion-item *ngIf="u.gender==1">
          <ion-icon name="male"></ion-icon>
          <h1>{{gender}}</h1>
        </ion-item>  
        <ion-item *ngIf="u.gender==2">
          <ion-icon name="female"></ion-icon>
          <h1>{{gender}}</h1>
        </ion-item>     
      </ion-slide>
      
    </ion-slides>
  </ion-card>
</ion-content>