nav-inner {
    .toolbar-title{
        color: #688DBE !important;
        font-weight: bolder !important;
        font-size: 3rem !important;
        float: left;
    }
    lon-icon{
        .button{
            font-size: 50px;
            float: left;
        }
    }
}
