page-add-promo {
    ion-select{
        width: 100%;
    }
    .slide-zoom {
        height: 100%;
    }
    .label{
        margin-top: 4px !important;
    }
    .text-input{
        margin-top: 4px !important;
        margin-bottom: 4px !important;
    }
    .select{
        padding-top: 4px !important;
        padding-bottom: 8px !important;
    }
    .datetime{
        padding-top: 4px !important;
        padding-bottom: 8px !important;
    }
}
