page-transaction-shop {
    .card{
        border-radius: 10px !important;
    }
    .card-header{
        padding: 10px 10px 10px 16px !important;
        white-space: normal;
    }
    #not_f{
        h1{
            text-align: center;
            color: #BE381E;
        }
    }
    .scroll-content{
        background-color: #f4f4f7;
    }
}
