<ion-header>

  <ion-navbar color="secondary">
    <ion-title>ค้นหาร้านค้า</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="home">
  <div style="height: 60%;" id="map_canvas"></div> 
  
  <div style="height: 40%;" *ngIf="locations">
    <ion-list>
      <ion-list-header>
        ร้านค้า
      </ion-list-header>

      <ion-item *ngFor="let l of locations">
        <ion-avatar item-left *ngIf="l.distance<10">
          <ion-icon name="pin"></ion-icon>
        </ion-avatar>
        <div *ngIf="l.distance<10">
          <h2>{{l.name}}</h2>
          <p>{{l.distance}} km</p>
        </div>
      </ion-item>

    </ion-list>
  </div>
</ion-content>