page-find-shopmap {
    .label{
        margin: unset;
        font-size: 1.6rem;
    }
    .list-header{
        margin-bottom: unset;
    }
    .item-md ion-avatar {
        min-width: 15px;
        min-height: 15px;
    }
}
