page-my-card {
    #toolbar1{
        padding-right: 15px !important;
        .toolbar-title{
            color: #BE381E !important;
            font-weight: bolder !important;
            font-size: 3rem !important;
        }
        button {
            ion-badge {
                position: absolute;
                top: -0.3rem;
                right: -0.6rem;
                opacity: 0.8;
                padding-left: 6px;
                padding-right: 6px;
                font-size: 11px;
                border-radius: 30px !important;
        
                & ~ ion-icon {
                    margin-right: 1.2rem;
                }
            }
        }
    }
    #card1{
        margin: unset;
        margin-top: 10px;
        width: 100%;
        border-radius: 10px;
        #box1{
            float: left;
            width: 25%;
            height: 150px;
            img{
                margin: auto;
                width: 50px;
                border-radius: 50px;
                margin-top: 55%;
            }
        }
        #box2{
            float: left;
            width: 75%;
            display: block;
            img{
                opacity: 0.4;
                height: 150px;
                width: 100%;
            }
            #box2_1{
                position: absolute;
                margin-top: -43%;
                h1{
                    font-size: 2rem !important;
                    color: rgb(71, 72, 73);
                    font-weight: bold;
                }
                h2{
                    color: rgb(71, 72, 73);
                    font-weight: bold;
                }
                // left: 50%;
                // transform: translate(-50%, -50%);
            }
        }
    }
    #point{
        h1{
            color: #FBA94C;
        }
        p{
            color: #FBA94C;
            margin-top: -10px;
            font-size: 12px;
        }
        .grid{
            padding: unset;
        }
        .col{
            padding: unset;
        }
    }

    .item.item-block .item-inner{
        padding-right: unset;
    }
    #not_f{
        h1{
            margin-top: 5%;
            text-align: center;
            color: #BE381E;
        }
    }
}
